<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="root">
            <input type="text" v-model="mon">
            <input type="text" v-model="tues">
            <input type="text" v-model="wed">
            <input type="text" v-model="thurs">
            <input type="text" v-model="fri">

            <p>Total hours worked: {{ parseInt(mon, 10) + parseInt(tues, 10) + 
                    parseInt(wed, 10) + parseInt(thurs, 10) + parseInt(fri, 10) }}</p>
        </div>

        <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>

        <script>
            new Vue({
                el: '#root',
                data: {
                    mon: '0',
                    tues: '0',
                    wed: '0',
                    thurs: '0',
                    fri: '0'
                }
            });

        </script>
    </body>
</html>